body{
  font-family: 'Albert Sans', sans-serif;
  background-image: url("../images/fixedShoppingMall.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
}
#foot{
  background: linear-gradient(to right, #fc6a03, #a33ce2, #6a0dad);
  color: black;
  display: flex; /* alignement horizontal */
  justify-content: space-around; /* espace distribué égal */
  width: 100%;
  bottom: 0;
}
#footerBubbles{
  border-radius: 20px;
  border: solid 1px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10px; padding: 3px;
}

#fixedHead{
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh; /* 10% de viewport height */
  background: linear-gradient(to right, #fc6a03, #a33ce2, #6a0dad);
  color: black;
  display: flex; /* alignement horizontal */
  align-items: center; /* centre verticalement les elems */
  justify-content: space-around; /* espace distribué égal */
  z-index: 1000;
}

#fixedHeadSearchIcon{
  background-color: #FA5801;
  border-radius: 50%;
  border: 4px solid black;
  height: 35px;
  width: 35px;

  justify-content: center;
  display: flex; /* alignement horizontal */
  align-items: center; /* centre verticalement les elems */
}
#fixedHeadSearchIcon img{
  height: 25px;
  width: 25px;
}

#fixedHead img, #fixedHead div {
  margin: 0 10px;
}

#fixedPartagerLeft {
  transform: translate(40px, 0px);
  position: fixed;
  left: 0;
  top: 30%;
  display: flex;
  align-items: center;
  z-index: 1000;
  writing-mode: vertical-rl;
}
#fixedPartagerLeft a{
  background: linear-gradient(to bottom, #a33ce2, #fc6a03);
  -webkit-background-clip: text; /* Clips the gradient to the text */
  -webkit-text-fill-color: transparent; /* Makes the text transparent to show the gradient */
  padding: 5px 10px; /* espace autour du texte */
  display: inline-block; /* affecte seulement le bloc de text */
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}
#fixedPartagerLeft img{
  background-color: #BE12DC;
  margin-top: 5px;
  width: 30px;
  height: 30px;
  border: solid black;
  border-radius: 5px;

}

#fixedTwitter, #fixedFacebook{
  transition: transform 0.2s ease;
}
