/* --------------- début ANIMATION SCROLL ---------------*/

@keyframes appear {     /* Animation d'apparition apparaitre de 0% à 100% lorsqu'on scroll */
    from {              
        opacity: 0;     /* Opacité à 0 */
        scale: 0.5;     /* Taille à 0.5 */
    }
    to {
        opacity: 1;     /* Opacité à 1 */
        scale: 1;       /* Taille à 1 */
    }
}

/* --------------- fin ANIMATION SCROLL ---------------*/




/* --------------- début SCROLL TRACKER ---------------*/

.scroll-tracker {
    position: fixed;
    inset: 0 0 auto;
    height: 0.5rem;
    background-color: var(--clr-primary-400);
    z-index: 1001;
}

/* --------------- fin SCROLL TRACKER ---------------*/




/*--------------- début BOXE 2 ---------------*/

.boxe2 {
    position: relative;
    z-index: 1;
}

.boxe2titre {                   /* Titre de la boxe 2 */
    margin-bottom: 20px;        /* Marge basse */
    margin-left: 300px;         /* Marge gauche */
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;    /* Police */

    animation: appear linear;       /* Animation d'apparition */
    animation-timeline: view();     /* Animation timeline lorsqu'on voit l'élément */
    animation-range: entry 0% cover 20%;    /* Animation range fait apparaitre l'élément de 0% à 30% */
}

.boxe2titre h2 {                    /* Titre de la boxe 2 */
    font-weight: bold;              /* Poids de la police */
    color: white;                 /* Couleur du texte */
    font-size: 72px;                /* Taille de la police */
    margin-bottom: -60px;           /* Marge basse */
}


.boxe2titre2 {                      /* Titre de la boxe 2 */
    color: transparent;             /* Couleur du texte */
    -webkit-text-stroke: 3px white;     /* Contour du texte */
    letter-spacing: 2px;            /* Espacement des lettres */
}

.boxe2boutonTexte {                 /* Bouton de la boxe 2 */
    font-weight: bold;              /* Poids de la police */
    font-size: 18px;                /* Taille de la police */
    position: relative;             /* Position relative */
    text-align: center;             /* Alignement du texte */
    background-color: white;      /* Couleur de fond */
    color: red;                   /* Couleur du texte */
    padding: 0.7rem;
    padding-left: 2rem;             /* Remplissage gauche */
    padding-right: 2rem;            /* Remplissage droit */
    left: 70%;                      /* Position à gauche */
    margin-bottom: 80px;            /* Marge basse */
    border-radius: 10px;            /* Rayon de la bordure */
    width: max-content;
    transition: 0.4s;               /* Durée de la transition */
    cursor: pointer;                /* Curseur pour indiquer que l'on peut cliquer */
}

.boxe2boutonTexte:hover {           /* Effet au survol du bouton lorsqu'on place notre curseur sur le bouton */
    transform: scale(1.05);         /* Transformation */ 
}

/* div suivante */

.boutiquesInfo {                /* Conteneur de la boxe 2 */
    display: flex;              /* Flexbox */
    justify-content: center;    /* Centrage horizontal */
    min-height: 300px;          /* Hauteur minimale */
    gap: 50px;
    flex-wrap: wrap;            /* Permet de passer à la ligne lorsque la largeur de l'écran est trop petite */
    padding-left: 100px;        /* Espace à gauche pour pas superposer avec le #enmodepartage*/
    padding-right: 100px;       /* Espace à droite pour équilibrer le padding gauche */
    cursor: pointer;            /* Curseur pour indiquer que l'on peut cliquer */

    animation: appear linear;       /* Animation d'apparition */
    animation-timeline: view();     /* Animation timeline lorsqu'on voit l'élément */
    animation-range: entry 0% cover 20%;    /* Animation range fait apparaitre l'élément de 0% à 30% */
}

.boxe2icone {                       /* Conteneur de l'icône */
    font: "Arial", "Fira Sans", sans-serif;   /* Police */
    font-weight: 500;               /* Poids de la police */
    font-size: 24px;                /* Taille de la police */
    background-color: rgba(0, 0, 0, 0.4);   /* Couleur de fond */
    border: 4px solid white;      /* Bordure */
    border-radius: 8px;             /* Rayon de la bordure */
    padding: 10px;                  /* Remplissage */
    width: 200px;                   /* Largeur */
    height: 200px;                  /* Hauteur */
    display: flex;                  /* Flexbox est un conteneur flexible qui permet d'aligner et de distribuer l'espace entre les éléments d'un composant */ 
    flex-direction: column;         /* Direction de la flexbox permet de placer le nom en bas des icones */
    align-items: center;            /* Alignement vertical */
    justify-content: center;        /* Alignement horizontal */
    text-align: center;             /* Alignement du texte */
    transition: 0.4s;               /* Durée de la transition */
}

.boxe2icone img {                   /* Images de la boxe 2 */
    max-width: 100px;               /* Largeur maximale */
    max-height: 100px;              /* Hauteur maximale */
}

.boxe2icone p {                     /* Nom des icones afficher de la boxe 2 */
    color: white;                 /* Couleur du texte */
}

.boxe2icone:hover {                 /* Effet au survol des icones lorsqu'on place notre curseur sur l'icone */
    background-color: red;        /* Couleur de fond */
    color: #ff0000;               /* Couleur du texte */
    transform:translateY(-15px);    /* Translation */
}

.boxe2paragraphe {                  /* Paragraphe de la boxe 2 */ 
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;    /* Police */
    font-size: 32px;                /* Taille de la police */
    max-width: 58%;                 /* Largeur maximale */
    text-align: center;             /* Alignement du texte au centre */
    margin: 0 auto;                 /* Centrage horizontal */
    color: white;                 /* Couleur du texte */
    margin-bottom: 100px;           /* Marge basse */

    animation: appear linear;       /* Animation d'apparition */
    animation-timeline: view();     /* Animation timeline lorsqu'on voit l'élément */
    animation-range: entry 0% cover 20%;    /* Animation range fait apparaitre l'élément de 0% à 30% */
}

/*--------------- fin BOXE 2 ---------------*/




/*--------------- début ENMODETIPS ---------------*/

.enModeTips {                       /* Conteneur du #enModeTips rectangle jaune */
    min-height: 400px;              /* Hauteur minimale */
    width: 90%;                     /* Largeur */
    max-width: 1400px;              /* Largeur maximale */
    padding: 20px;                  /* Remplissage */
    box-sizing: border-box;         /* Inclure le padding et la bordure dans la largeur totale */
    position: relative;             /* Position relative */
    left:50%;                       /* Position à gauche */
    transform: translateX(-50%);    /* Translation */
    background-color: rgb(255, 230, 0);  /* Couleur de fond */
    border-radius: 20px;            /* Rayon de la bordure */

    @media (min-width: 1440px) {    /* Pour les écrans de 1440px de largeur et plus sinon problème*/
        animation: appear linear;       /* Animation d'apparition */
        animation-timeline: view();     /* Animation timeline lorsqu'on voit l'élément */
        animation-range: entry 0% cover 20%;    /* Animation range fait apparaitre l'élément de 0% à 30% */
    }
 }

.enModeTipsTitre {                  /* Titre de #enModeTips */
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;    /* Police */
    font-style: italic;             /* Style de la police */
    font-weight: bold;              /* Poids de la police */
    color: white;                 /* Couleur du texte */
    text-shadow: rgb(0, 0, 0) 4px 0px 0px, rgb(0, 0, 0) 3.87565px 0.989616px 0px, rgb(0, 0, 0) 3.51033px 1.9177px 0px, rgb(0, 0, 0) 2.92676px 2.72656px 0px, rgb(0, 0, 0) 2.16121px 3.36588px 0px, rgb(0, 0, 0) 1.26129px 3.79594px 0px, rgb(0, 0, 0) 0.282949px 3.98998px 0px, rgb(0, 0, 0) -0.712984px 3.93594px 0px, rgb(0, 0, 0) -1.66459px 3.63719px 0px, rgb(0, 0, 0) -2.51269px 3.11229px 0px, rgb(0, 0, 0) -3.20457px 2.39389px 0px, rgb(0, 0, 0) -3.69721px 1.52664px 0px, rgb(0, 0, 0) -3.95997px 0.56448px 0px, rgb(0, 0, 0) -3.97652px -0.432781px 0px, rgb(0, 0, 0) -3.74583px -1.40313px 0px, rgb(0, 0, 0) -3.28224px -2.28625px 0px, rgb(0, 0, 0) -2.61457px -3.02721px 0px, rgb(0, 0, 0) -1.78435px -3.57996px 0px, rgb(0, 0, 0) -0.843183px -3.91012px 0px, rgb(0, 0, 0) 0.150409px -3.99717px 0px, rgb(0, 0, 0) 1.13465px -3.8357px 0px, rgb(0, 0, 0) 2.04834px -3.43574px 0px, rgb(0, 0, 0) 2.83468px -2.82216px 0px, rgb(0, 0, 0) 3.44477px -2.03312px 0px, rgb(0, 0, 0) 3.84068px -1.11766px 0px, rgb(0, 0, 0) 3.9978px -0.132717px 0px;
    /* bordure de texte en noir */
    font-size: 54px;                /* Taille de la police */
    position: absolute;             /* Position absolue rataché à enModeTips permet de positionner le titre par rapport à son conteneur */
    top: -90px;                     /* Position en haut */
    left: 5%;                       /* Position à gauche */
}

.infosBonsPlansContainer {          /* Conteneur on souhaite afficher les éléments de enModeTips sous forme de ligne */
    display: flex;                  /* Flexbox pour aligner les éléments sur une ligne */
    flex-direction: column;         /* Direction verticale */
    align-items: center;            /* Alignement au centre */
    gap: 20px;                      /* Espacement entre les éléments */
}

.infosBonsPlans {                   /* titre de la boxe 2 */
    color: black;                 /* Couleur du texte */
    text-align: center;             /* Alignement du texte */
    font-size: 46px;                /* Taille de la police */
    font-weight: bold;              /* Poids de la police */
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;    /* Police */
}

.barreMail {                        /* Barre de mail */
    display: flex;                  /* Flexbox */
    justify-content: center;        /* Centrage horizontal */
    align-items: center;            /* Alignement vertical */
    white-space: nowrap;            /* Empêche le retour à la ligne */
    border: 3px solid black;      /* Bordure */
    border-radius: 50px;            /* Rayon de la bordure */
    width: 400px;                   /* Largeur */
    padding: 5px;                   /* Remplissage */
    gap: 20px;                      /* Espacement entre les éléments */
    transform: translateY(-28%);    /* Translation */
}

.barreMail input {                  /* Input de la barre mail */
    border: none;                   /* Pas de bordure */
    outline: none;                  /* Pas de contour */
    padding: 5px;                   /* Remplissage */
    width: 300px;                   /* Largeur */
    font-size: 24px;                /* Taille de la police */
    background-color: transparent;  /* Couleur de fond */
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;    /* Police */
}

.enModeTips img {                   /* Images de la flèche dans la barre mail */
    max-width: 25px;                /* Largeur maximale */
    max-height: 25px;               /* Hauteur maximale */
    transition: 0.4s;               /* Durée de la transition */
    cursor: pointer;                /* Curseur pour indiquer que l'on peut cliquer */
}

.enModeTips img:hover {             /* Effet au survol des icones lorsqu'on place notre curseur sur l'icone */
    transform: translateX(10px);    /* Translation pour décaler l'icone */
}

.enModeTips img:active {            /* Effet au clic des icones lorsqu'on clique sur l'icone */
    transform: scale(0.8) translateX(10px);    /* Transformation lorsqu'on clique sur l'icone */
}

#confirmationMessage, #errorMessage {   /* message après envoie du mail (pour l'instant pas afficher) */
    opacity: 0; /* Invisibles au départ */
    visibility: hidden; /* Rend les messages invisibles (évite qu'ils prennent de la place dans le DOM) */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Animations */
}
    
#confirmationMessage.show, #errorMessage.show { /* Lorsqu'on veut les afficher */
    opacity: 1; /* Opacité visible */
    visibility: visible; /* Les rend visibles */
}

.tipsTexte {                        /* Texte du conteneur enModeTips */
    width: 90%;                     /* Largeur */
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;    /* Police */
    font-size: 24px;                /* Taille de la police */
    color: black;                 /* Couleur du texte */
    text-align: center;             /* Alignement du texte */
    margin-bottom: 10px;
}


/* --------------- fin ENMODETIPS ---------------*/




/* --------------- début MEDIA QUERIES ---------------*/

@media (max-width: 1024px) {    

    .boxe2titre {
        margin-left: 0;             /* Supprimer la marge gauche */
        text-align: center;         /* Centrer le texte */
    }
    
    .boxe2boutonTexte {             /* Bouton de la boxe 2 */
        left: 50%;                  /* Centrer le bouton */
        transform: translateX(-50%);/* Centrer horizontalement */
        margin-top: 120px;          /* Marge haute pour pas superposer avec le titre*/
    }
}

@media (max-width: 768px) {         /* Pour les écrans de 768px de largeur et moins */

    .boxe2titre h2 {
        font-size: 36px;            /* Réduire la taille de la police */
    }

    .boxe2icone {
        width: 120px;               /* Réduire la largeur */
        height: 120px;              /* Réduire la hauteur */
    }

    .boxe2icone img {
        max-width: 60px;            /* Réduire la taille des images */
        max-height: 60px;
    }

    .boxe2paragraphe {
        font-size: 18px;            /* Réduire la taille de la police */
        max-width: 90%;             /* Élargir pour remplir plus d'espace */
    }

    .enModeTips {
        padding: 10px;              /* Réduire le padding */
        min-height: auto;           /* Supprimer la hauteur minimale fixe */
    }

    .enModeTipsTitre {
        font-size: 36px;            /* Réduire la taille de la police */
        top: -60px;                 /* Ajuster la position */
    }

    .barreMail {
        gap: 10px;                  /* Réduire l'espacement entre les éléments */
        width: 100%;                /* Prendre toute la largeur */
        max-width: 300px;
    }

    .infosBonsPlans {
        font-size: 28px;            /* Réduire la taille de la police */
    }

    .tipsTexte {
        font-size: 16px;            /* Réduire la taille de la police */
    }
}

/* --------------- fin MEDIA QUERIES ---------------*/




/* --------------- début BANNIERE ---------------*/

.arrièrePlanRouge {
    position: absolute;             /* Position absolue pour être positionné par rapport à la fenêtre */
    left: 0;                        /* Aligne à gauche */
    right: 0;                       /* Aligne à droite */
    margin-top: -200px;             /* Marge négative pour superposer avec la bannière */
    width: 100%;                    /* Largeur totale */
    height: 600px;                  /* Hauteur */
    
    background-color: red;        /* Couleur de fond */

    display: flex;                  /* Flexbox */
    justify-content: center;        /* Centrage horizontal */
    align-items: center;            /* Alignement vertical */
    gap: 74rem;                     /* Espacement entre les éléments */
}

.arrièrePlanRouge img {
    margin-top: 175px;
}

.scrollBouton {
    width: 70px;                   /* Largeur */
    height: 70px;                  /* Hauteur */;
    cursor: pointer;               /* Curseur pour indiquer que l'on peut cliquer */
    transition: transform 0.2s ease;   /* Transition pour l'effet de survol */

    animation: appear linear;       /* Animation d'apparition */
    animation-timeline: view();     /* Animation timeline lorsqu'on voit l'élément */
    animation-range: entry 0% cover 20%;    /* Animation range fait apparaitre l'élément de 0% à 30% */
}

.scrollBouton:active {
    transform: scale(0.80);          /* Agrandir l'image au clic */
}

.bannière {
    display: flex;                  /* Flexbox */
    justify-content: space-evenly;  /* Centrage horizontal */
    align-items: center;            /* Alignement vertical */
    position: absolute;             /* Position absolue */
    gap: 25px;                      /* Espacement entre les éléments */
    padding: 1rem;                  /* Remplissage rem = 16px */
    max-width: 1135px;               /* Largeur maximale */

    /*outline: 3px solid black;      /* Bordure */

    overflow-x: scroll;             /* Défilement horizontal */

    animation: appear linear;       /* Animation d'apparition */
    animation-timeline: view();     /* Animation timeline lorsqu'on voit l'élément */
    animation-range: entry 0% cover 30%;    /* Animation range fait apparaitre l'élément de 0% à 30% */
}

.bannière::-webkit-scrollbar {      /* Barre de défilement */
    display: none;                  /* Cacher la barre de défilement */
}

.iconeMagasin {
    width: 150px;                   /* Largeur maximale */
    height: 150px;                  /* Hauteur maximale */
    padding: 10px;                  /* Remplissage */
    background-color: white;      /* Couleur de fond */
    object-fit: contain;            /* Adapter l'image à l'intérieur du carré sans l'étirer */
    flex: none;
    transition: 0.4s;               /* Transition pour l'effet de survol */
    cursor: pointer;
}

.iconeMagasin:hover {
    transform: scale(1.1);          /* Agrandir l'image au survol */
}

@media (max-width: 1440px) {
    .arrièrePlanRouge {
        gap: 47rem;                 /* Réduire l'espacement entre les éléments */
        height: 35rem;
    }

    .bannière {
        width: 700px;
    }

    .scrollBouton {
        width: 60px;                /* Réduire la largeur */
        height: 60px;               /* Réduire la hauteur */
    }

    .iconeMagasin {
        width: 120px;               /* Réduire la largeur */
        height: 120px;              /* Réduire la hauteur */
    }
}

@media (max-width: 1024px) {
    .arrièrePlanRouge {
        gap: 34rem;                 /* Réduire l'espacement entre les éléments */
        height: 33rem;
    }

    .bannière {
        width: 500px;
    }

    .scrollBouton {
        width: 50px;                /* Réduire la largeur */
        height: 50px;               /* Réduire la hauteur */
    }

    .iconeMagasin {
        width: 100px;               /* Réduire la largeur */
        height: 100px;              /* Réduire la hauteur */
    }
}

@media (max-width: 768px) {
    .arrièrePlanRouge {
        gap: 24rem;                 /* Réduire encore l'espacement entre les éléments */
        height: 30rem;
    }

    .bannière {
        width: 340px;
    }

    .scrollBouton {
        width: 40px;                /* Réduire encore la largeur */
        height: 40px;               /* Réduire encore la hauteur */
    }

    .iconeMagasin {
        width: 80px;                /* Réduire encore la largeur */
        height: 80px;               /* Réduire encore la hauteur */
    }
}
