
body{
  /* Les marges et padding de défaut de body interfèrent avec position: sticky */
  margin: 0;
  padding: 0;
  font-family: 'Albert Sans', sans-serif;
  /*font: normal normal normal 'Albert Sans';*/
  background-image: url("../images/fixedShoppingMall.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
}
#foot{
  /*background: linear-gradient(to right, #fc6a03, #a33ce2, #6a0dad);*/
  background-color: white;
  color: black;
  display: flex; /* alignement horizontal */
  justify-content: space-around; /* espace distribué égal */
  width: 100%;
  bottom: 0;
}
#footerBubbles {
  margin: 0.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: solid 0.1rem black; /* Border with rem units */
  display: flex;
  flex-direction: row; /* Keep items in a row (horizontal alignment) */
  justify-content: flex-start; /* Align content to the left */
  align-items: center; /* Center items vertically */
  padding: 0.3rem;
  gap: 0.3rem; /* Add spacing between the icon and text */
}

#fixedHead{
/*
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
*/
  font-weight: bold;
  height: 10vh; /* 10% de viewport height */
  /*background: linear-gradient(to right, #fc6a03, #a33ce2, #6a0dad);*/
  background-color: black;
  color: black;
  display: flex; /* alignement horizontal */
  align-items: center; /* centre verticalement les elems */
  justify-content: space-around; /* espace distribué égal */
  border-bottom: solid 0.05rem white;
}

#fixedHeadSearchIcon{
  background-color: #EC1C24;
  border-radius: 50%;
  border: 4px solid black;
  height: 35px;
  width: 35px;

  justify-content: center;
  display: flex; /* alignement horizontal */
  align-items: center; /* centre verticalement les elems */
}
#fixedHeadSearchIcon img{
  height: 1rem;
  width: 1rem;
}

#fixedHead img, #fixedHead div {
  margin: 0 10px;
}
.overBlocH{
  position: relative;
  background-color: blue;
  border-radius: 20px;
  justify-content: center;
}

#blocHoraires{
  position: relative;
  z-index: 2000;
  border: solid #FA2201;
  border-radius: 20px;
  background-color: #EC1C24;
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
  min-width: 10rem;
  text-align: center;
}

#blocHoraires::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  z-index: -1;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

#blocHoraires:hover::before {
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
}

#horairesClick{
  /*

TURN THIS INTO A DROP DOWN FROM "HORAIRES"

  */

  border-radius: 1.25rem;
  position: absolute;
  left:0;
  top:0;
  font-size: 0.7rem;
  width: 100%;
  /*display: none;*/
  z-index: 1000;
  /*
  width: 10rem;
  height: 10rem;
  */
  background-color: black;
  white-space: nowrap;
  text-align: center;
  transition: max-height 0.5s ease-out;
  max-height: 0;
  overflow: hidden;

}
#horairesClick div{
  padding: 1rem;
  background-color: red;
  white-space: nowrap;
  margin-bottom: 0.7rem;
  border-radius: 1.25rem;
}

#fixedPartagerLeft {
  position: fixed;
  left: 2%;
  bottom: 10%;
  display: flex;
  align-items: center;
  z-index: 1000;
  writing-mode: vertical-rl;
}
#fixedPartagerLeft a{
  background: linear-gradient(to bottom, #a33ce2, #fc6a03);
  -webkit-background-clip: text; /* Clips the gradient to the text */
  -webkit-text-fill-color: transparent; /* Makes the text transparent to show the gradient */
  padding: 5px 10px; /* espace autour du texte */
  display: inline-block; /* affecte seulement le bloc de text */
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}
/*
#fixedPartagerLeft img{
  background-color: #BE12DC;
  margin-top: 0.4rem;
  width: 30px;
  height: 30px;
  border: solid black;
  border-radius: 5px;

}
*/
#fixedTwitter, #fixedFacebook{
  transition: all 0.5s ease;
  background-color: #a33ce2;
  margin-top: 0.4rem;
  width: 30px;
  height: 30px;
  border: solid black;
  border-radius: 5px;
}
#fixedTwitter img, #fixedFacebook img{
  width: 30px;
  height: 30px;
}



#fixedPartagerFooter{
  display: flex;
  align-items: center;
}
#TwitterFooter, #FacebookFooter{
  transition: all 0.5s ease;
  background-color: #BE12DC;
  margin-right: 0.4rem;
  width: 30px;
  height: 30px;
  border: solid black;
  border-radius: 5px;
}
#TwitterFooter img, #FacebookFooter img{
  width: 30px;
  height: 30px;
}

#rightFooterBubble {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 200;
    gap: 10rem;
    white-space: nowrap;
    border: 0.2rem solid black;
    border-radius: 10rem;
    padding: 1rem;
    padding-right: 2rem;
}
#rightFooterBubble img{
  height: 1.5rem;
  width: 1.5rem;
  transition: transform 0.5s;
}
#rightFooterBubble img:hover{
  transform: translateX(1rem);
}

.thirdFooterColumn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.thirdFooterColumn section{
  margin-bottom: 4rem;
}
/*
.hcBackgroundColor{
  background: linear-gradient(to right, #EC1C24 40%, #EC1C24 60%, blue 70%, blue 90%);
  background-size: 300%;
  background-position: 0%;
  animation: hc 2s infinite linear;
}
@keyframes hc {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
*/
.gradient-hover-text {
  background: linear-gradient(to right, #a33ce2, #fc6a03, #a33ce2,#fc6a03);
  background-size: 300%;
  background-position: 0%;
  color: transparent;
  -webkit-background-clip: text;
  /*-webkit-text-fill-color: transparent;*/
  animation-play-state: paused;
}

.gradient-hover-text:hover {
  animation: gradient-cycle 2s infinite linear;
}

@keyframes gradient-cycle {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.hcBackgroundColor {
  margin: 100px;
  border: none;
  outline: none;
  position: relative;
  z-index: 0;
  border-radius: 1.25rem;

  opacity: 1;
  background: transparent;

  font-weight: bold;
}
.hcBackgroundColor::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 1.25rem;
}
/* glow */
.hcBackgroundColor::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 0.25rem);
  height: calc(100% + 0.25rem);
  filter: blur(0.25rem);
  animation: glowing 20s linear infinite;
  border-radius: 1.25rem;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* Ceci sont tous des attempts ratés à créer une animation infinie qui cycle
un gradient sur hover et qui retourne au gradient de départ de façon non-brutale lors que l'on arrête le hover.
Celui d'en au fait le cyclage infini mais pas le reste.
Pour réaliser tout il faut gérer avec javascript. Si j'ai le temps je le mettrai en lien dans le projet.
*/
.text-gradient {
  background: linear-gradient(to right, #a33ce2 80%, #fc6a03 20%);
  background-size: 300%;
  background-position: 0%;
  color: transparent;
  -webkit-background-clip: text;
  transition: background 1s ease;
}

.text-gradient:hover {
  background: linear-gradient(to right, #fc6a03 80%, #a33ce2 20%);
  background-size: 300%;
  background-position: 0%;
  color: transparent;
  -webkit-background-clip: text;
  transition: background 1s ease;
}

.toGo{
  background: linear-gradient(to right, #a33ce2, #fc6a03);
  background-size: 300%;
  background-position: 0%;
  color: transparent;
  -webkit-background-clip: text;
  transition: background 1s ease;

  position: relative;
}
.toGo::after{
  content: '';
  position: absolute;

  background: linear-gradient(to right, #fc6a03 80%, #a33ce2 20%);
  background-size: 300%;
  background-position: 0%;
  color: transparent;
  -webkit-background-clip: text;
  transition: background 1s ease;
}
.toGo:hover::after{
  width: 100%;
}
.toGo:hover{

  background: linear-gradient(to right, #fc6a03, #a33ce2);
  background-size: 300%;
  background-position: 0%;
  color: transparent;
  -webkit-background-clip: text;
  transition: background 1s ease;
}
